@model CarNBusClient.Models.Car

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Do you really want to delete this car?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VIN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VIN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConvertSpeed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConvertSpeed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
    </dl>
    @{var listString = "Index/" + Model.CompanyId; }
    <form asp-action="Delete">
        <input type="hidden" asp-for="CarId" />
        <input id="deleteId" type="submit" value="Delete" class="btn btn-default" disabled /> |
        <a asp-action="@listString">Back to list</a>
    </form>
    <script type="text/javascript">
        (function () {
            let loop = true;
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState === XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
                    if (xmlhttp.status === 200) {
                        let car = JSON.parse(xmlhttp.responseText);
                        if (car.locked === true) {
                            let element = document.getElementById("deleteId");
                            element.removeAttribute("disabled");
                            loop = false;
                        }
                        else {
                            let carId = document.getElementById("CarId").value;
                            xmlhttp.open("GET", localStorage.getItem("apiAddress") + "/api/read/car/" + carId, true);
                            xmlhttp.send();
                        }
                    }
                    else if (xmlhttp.status === 400) {
                        alert('There was an error 400');
                    }
                    else {
                        //alert('something else other than 200 was returned: ' + xmlhttp.status);
                    }
                }
            };
            if (loop && localStorage.getItem("apiAddress") !== null) {
                let carId = document.getElementById("CarId").value;
                xmlhttp.open("GET", localStorage.getItem("apiAddress") + "/api/read/car/" + carId, true);
                xmlhttp.send();
            }
        })();
    </script>
</div>